.page {
    position: relative;
    min-height: 100vh;
}

main {
    min-height: 100vh;
}

@media (min-width: 641px) {
    article {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}
